---
layout: default
---

{% for post in paginator.posts %}

<div class="post">
  <h1>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>

  <span class="post-date">{{ post.date | date_to_string }}</span>

  <div class="tweet-button">
    <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
     </div>

  {{ post.content }}
</div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Posts Más Antiguos</a>
  {% else %}
    <span class="next">Posts Más Antiguos</span>
  {% endif %}
  <span>&middot;</span>
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Posts Más Nuevos</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Posts Más Nuevos</a>
    {% endif %}
  {% else %}
    <span class="previous">Posts Más Nuevos</span>
  {% endif %}
</div>
