<footer class="colophon">
  <ul class="quick-links">
    <li><a href="https://github.com/Galaxy42/Miguh_blog/issues/new">Submit issues</a></li>
  </ul>
  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Galaxy42&repo=Miguh_blog&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Galaxy42&repo=Miguh_blog&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
    </li>
  </ul>
<!-- Place this tag where you want the widget to render. -->
<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/108483931553210979596" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  <p>&copy; 2013. All rights reserved.</p>
</footer>
